---
import BaseLayout from '@layouts/BaseLayout.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogCard from '@components/blog/BlogCard.astro'
import MainSection from '@components/ui/sections/MainSection.astro'
import { SITE } from '@/config'

// Obtener las rutas estáticas para categorías
export async function getStaticPaths() {
    const categorias: CollectionEntry<'categorias'>[] =
        await getCollection('categorias')
    return categorias.map((category) => ({
        params: { slug: category.slug },
        props: { category },
    }))
}

// Obtener las props de Astro
const { category } = Astro.props as { category: CollectionEntry<'categorias'> }
const URL = Astro.url.href
const categoriasURL = `${Astro.url.origin}/categorias`

// Obtener los posts filtrados por la categoría
const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
    .sort(
        (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
            b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    )
    .filter((b: CollectionEntry<'posts'>) => b.data.category === category.slug)
---

<BaseLayout
    title={category.data.title}
    description={category.data.description}
    structuredData={{
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        inLanguage: 'en-US',
        '@id': URL,
        url: URL,
        name: `${category.data.title} - ${SITE.title}`,
        description: category.data.description,
        isPartOf: {
            '@type': 'WebSite',
            url: categoriasURL,
            name: `All categorias - ${SITE.title}`,
        },
    }}
>
    <MainSection
        title={category.data.title}
        subTitle={category.data.description}
        btnExists={true}
        btnTitle='Ir a la lista'
        btnURL='/categorias/'
    />

    <section
        class='mx-auto max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 mb-10 2xl:max-w-full'
    >
        <div class='grid grid-cols-1 gap-6 lg:grid-cols-3 sm:grid-cols-2'>
            {posts.map((b) => <BlogCard blog={b} />)}
        </div>
    </section>
</BaseLayout>
