---
import BaseLayout from '@layouts/BaseLayout.astro';
import MainSection from '@components/ui/sections/MainSection.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

// Define el tipo de los elementos en "friends"
type Friend = {
  avatar: string;
  name: string;
  title: string;
  description: string;
  social?: {
    blog?: string;
    twitter?: string;
    github?: string;
  };
};

// Obtiene los datos de la colección "friends"
const friendsData: CollectionEntry<'friends'>[] = await getCollection('friends');

if (friendsData?.length === 0) {
  return Astro.redirect('/');
}

const friends: Friend[] = friendsData.map((entry) => entry.data);
---

<BaseLayout title="TDPBlog" description="TDPBlog and his friends">
  <MainSection title="Hola amigos" subTitle="Envíenme un correo si quieren mostrar su enlace aquí." />

  <section class="mx-auto max-w-[85rem] px-4 py-8 sm:px-6 lg:px-8 mb-10 2xl:max-w-full">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 sm:grid-cols-2">
      {
        friends.map((f: Friend) => (
          <div class="flex flex-col justify-between p-4 bg-white rounded-xl md:p-6 dark:bg-neutral-900/30">
            <div>
              <div class="flex items-center gap-x-4">
                <img
                  class="rounded-full size-20"
                  src={f.avatar}
                  alt={`Imagen de ${f.name}`}
                />

                <div class="grow">
                  <h3 class="font-medium text-gray-800 dark:text-neutral-200">
                    {f.name}
                  </h3>
                  <p class="text-xs mt-0.5 uppercase text-gray-500 dark:text-neutral-500">
                    {f.title}
                  </p>
                </div>
              </div>
              <p class="mt-3 text-gray-500 dark:text-neutral-500">
                {f.description}
              </p>
            </div>

            <div class="mt-3 space-x-1">
              {f.social?.blog && (
                <a
                  class="inline-flex items-center justify-center text-sm font-semibold text-gray-500 border border-gray-300 rounded-lg shadow-md size-8 hover:text-gray-600 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300 dark:border-neutral-800 dark:hover:bg-neutral-700"
                  href={f.social.blog}
                  target="_blank"
                >
                  Blog
                </a>
              )}

              {f.social?.twitter && (
                <a
                  class="inline-flex items-center justify-center text-sm font-semibold text-gray-500 border border-gray-300 rounded-lg shadow-md size-8 hover:text-gray-600 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300 dark:border-neutral-800 dark:hover:bg-neutral-700"
                  href={`https://twitter.com/${f.social.twitter}`}
                  target="_blank"
                >
                  Twitter
                </a>
              )}

              {f.social?.github && (
                <a
                  class="inline-flex items-center justify-center text-sm font-semibold text-gray-500 border border-gray-300 rounded-lg shadow-md size-8 hover:text-gray-600 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300 dark:border-neutral-800 dark:hover:bg-neutral-700"
                  href={`https://github.com/${f.social.github}`}
                  target="_blank"
                >
                  GitHub
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
